In [1]:
%load_ext autotime
import pandas as pd
import numpy as np
import concurrent.futures

In [2]:
population = pd.read_csv('dat/2010_ver1_42003_synth_people.txt')

time: 2.36 s

In [3]:
population.head()

,sp_id,sp_hh_id,serialno,stcotrbg,age,sex,race,sporder,relate,sp_school_id,sp_work_id
0,164091696,14350288,2007000946432,420035094001,24,1,1,1,0,NaN,513967705.0
1,164091697,14354678,2007000946432,420035128001,24,1,1,1,0,NaN,513980750.0
2,164091698,14367662,2007000946432,420035200011,24,1,1,1,0,NaN,513949983.0
3,164091701,14487997,2007000946432,420035213021,24,1,1,1,0,NaN,513977007.0
4,164091704,14494399,2007000946432,420035220001,24,1,1,1,0,NaN,513965846.0

time: 79.5 ms

# Task: randomly sample the population and summarize the age distribution

In [4]:
population.loc[np.random.randint(0, len(population), 10), 'age'].max()

79

time: 87.4 ms

In [5]:
def get_max_age(n):
    #print(id(population))
    #print('Sample number %d' % n)
    return population.loc[np.random.randint(0, len(population), 100000), 'age'].max()

with concurrent.futures.ProcessPoolExecutor() as executor:
    samples = list(range(100))
    for sample_number, max_age in zip(samples, executor.map(get_max_age, samples)):
        pass

time: 22.8 s

In [6]:
def get_max_age(n):
    #print(id(population))
    #print('Sample number %d' % n)
    return population.loc[np.random.randint(0, len(population), 100000), 'age'].max()

with concurrent.futures.ThreadPoolExecutor() as executor:
    samples = list(range(100))
    for sample_number, max_age in zip(samples, executor.map(get_max_age, samples)):
        pass

time: 46 s