# Parallelism in R

R offers a number of alternative ways to exploit multiple cores and multiple machines.

In many ways, the support for parallel execution in R is richer and more flexible than in python

# R `parallel` package

For R users already using `apply`-type methods that "just work".  These methods have all of advantages (compact, terse syntax) and disadvantages (compact, terse syntax) as their standar

In [2]:
require(foreach)
require(parallel)
require(bit64)
require(data.table)

The following command sets us up to use the simple multi-core (MC) or parallel backend

on Windows use doParallel, on linux or OSX use doMC

In [3]:
require(doMC)
registerDoMC()
#require(doParallel)
#registerDoParallel()

Loading required package: doMC
Loading required package: iterators

In [4]:
d = fread('dat/2005_2009_ver2_42065_synth_people.txt')

In [11]:
head(d)

  p_id      hh_id     serialno      stcotrbg     age sex race sporder relate
1 416175660 261526469 2005000002176 420659503002 86  2   1    1       0
2 416175661 261526469 2005000002176 420659503002 92  1   1    2       1
3 416175676 261533970 2005000002176 420659508002 86  2   1    1       0
4 416175677 261533970 2005000002176 420659508002 92  1   1    2       1
5 416175678 261526897 2005000002176 420659503003 86  2   1    1       0
6 416175679 261526897 2005000002176 420659503003 92  1   1    2       1
  school_id workplace_id
1           NA
2           NA
3           NA
4           NA
5           NA
6           NA

In [6]:
sample(nrow(d),10)

 [1] 32239 12928 23539 37069 22187 41476 20543 10843 16840 13869

In [20]:
foreach (i=seq(10)) %do% {
    mean(d[sample(nrow(d), 10)]$age)
}

[[1]]
[1] 41.2

[[2]]
[1] 38.4

[[3]]
[1] 36.8

[[4]]
[1] 48.7

[[5]]
[1] 38.6

[[6]]
[1] 42.8

[[7]]
[1] 42.1

[[8]]
[1] 26.4

[[9]]
[1] 33.8

[[10]]
[1] 34.1

In [15]:
foreach (i=seq(10), .combine=c) %do% {
    mean(d[sample(nrow(d), 10)]$age)
}

 [1] 59.6 31.8 45.3 37.3 29.2 40.5 36.8 42.0 36.3 36.5